[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gtk-recordMyDesktop
Comment=Frontend for recordMyDesktop
Exec=gtk-recordMyDesktop
Terminal=false
Type=Application
Icon=gtk-recordmydesktop.png
Categories=AudioVideo;Recorder;
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/gtk-recordmydesktop.desktop
