[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/stefanozzz123/Scrivania/Screenshot at 2015-12-10 22:43:32.png]
row=4
col=0

[/home/stefanozzz123/Scrivania/Screenshot at 2015-12-08 23:01:08.png]
row=5
col=0

[/home/stefanozzz123/Scrivania/Minecraft.desktop]
row=3
col=0

[/home/stefanozzz123/Scrivania/mate.png]
row=6
col=0

[Cestino]
row=0
col=0

[/]
row=1
col=0

[/home/stefanozzz123]
row=2
col=0

