#!/usr/bin/env xdg-open
[Desktop Entry]
Version=Generic
Name=MC
Comment=Launcher
Exec=/usr/bin/minecraft
Path=/usr/bin
Terminal=false
Type=Application
Categories=Games
